# Ignore build outputs
/build
/build/libs
*.jar

!gradle/wrapper/gradle-wrapper.jar

# Ignore IntelliJ IDEA files
*.iml
.idea/

# Ignore Eclipse files
.project
.classpath
.settings/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore sensitive configuration
application.yml
