server:
  port: 8080

spring:
  datasource:
   url: ${SPRING_DATASOURCE_URL:}
   username: ${SPRING_DATASOURCE_USERNAME:}
   password: ${SPRING_DATASOURCE_PASSWORD:}
   driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: true
  sql:
    init:
      mode: always
  mail:
    host: ${SPRING_MAIL_HOST:smtp.gmail.com}
    port: ${SPRING_MAIL_PORT:587}
    username: ${SPRING_MAIL_USERNAME:}
    password: ${SPRING_MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_OAUTH2_CLIENT_ID:}
            client-secret: ${GOOGLE_OAUTH2_CLIENT_SECRET:}
            scope:
              - openid
              - email
              - profile
            redirect-uri: "https://www.seatify.com.vn/oauth2/redirect"
            client-name: Seatify Google Login

seatify:
  jwt:
    secret: ${SEATIFY_JWT_SECRET:change-me-in-prod-please-change-to-strong-secret}
    expiration-ms: ${SEATIFY_JWT_EXPIRATION_MS:86400000}
  oauth2:
    google:
      token-uri: https://oauth2.googleapis.com/token
      userinfo-uri: https://www.googleapis.com/oauth2/v3/userinfo
      redirect-uri: https://www.seatify.com.vn/oauth2/redirect

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME:}
  api-key: ${CLOUDINARY_API_KEY:}
  api-secret: ${CLOUDINARY_API_SECRET:}

